@import './lib/breakpoint.scss';
.img_container{
    position: relative;
    width:270px;
    height:200px;
    background-color: #D9D9D9;
    overflow: hidden;
}
.title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:270px;
    height:50px;
    background-color: #D9D9D9;
    text-align: center;
    font-weight: 400;
    
    padding: 0 20px;
    h2{
        flex:1;
        min-width: 0;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
}