.post_container{
    background-color: #D9D9D9;
    padding: 3rem;
    margin-bottom: 2rem;
}
.post_category{
    color:#7f7f7f;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 0.3;
}
.post_title{
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 500;
    // line-height: 0.6;
}
.author_container{
    display: flex;
    .author_img_container{
    }
    .author_info_container{
        margin-top:0.5rem;
        margin-left:1rem;
        font-size:1.3rem;
        font-weight:500;
        line-height:1.2;
        .date{
            color:#7f7f7f;
        }
    }
}