@import './lib/breakpoint.scss';
.postwidget_container{
    background-color: #D9D9D9;
    padding: 2rem;
    margin-bottom: 2rem;
}
.ad_container{
    background-color: #D9D9D9;
    min-height: 70vh;
    padding: 2rem;
    display: none;
}
